@model IEnumerable<PriceBey.Models.ProductBooking>

@{
    ViewBag.Title = "Product Bookings";
}

<h1 class="h3 mb-2 text-gray-800">Product Bookings</h1>


<div class="card shadow mb-4">

    <div class="card-body">
        <div class="table-responsive">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th class="p-name">Product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td class="cart-pic first-row">
                                <a href="/productdetail/?id=@item.ProductPrice.ProductId" target="_blank">
                                    <img src="@item.ProductPrice.Product.Image" alt="" style="max-height:50px;">
                                </a>
                            </td>
                            <td class="cart-title first-row">
                                <a href="/productdetail/?id=@item.ProductPrice.ProductId" target="_blank">
                                    @item.ProductPrice.Product.Name
                                </a>
                            </td>
                            <td class="p-price first-row"> RS. @item.ProductPrice.Price </td>
                            <td class="text-center">
                                @item.Quantity
                            </td>
                            <td class="p-price first-row"> RS.  @(Math.Round(item.ProductPrice.Price * item.Quantity)) </td>
                            <td class="qua-col first-row">@item.Status</td>
                            <td class="close-td first-row">
                                <a href="/admin/bookings/Detail/@item.ID" class="btn btn-info btn-sm">
                                    View Details
                                </a>
                            </td>
                        </tr>

                    }


                </tbody>
            </table>

            


        </div>
    </div>
</div>


