@model PriceBey.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<!-- Register Section Begin -->

<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="register-form">
                    <h2>Register</h2>
                    @using (Html.BeginForm("Index", "Register", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="group-input">
                            <label for="username">Username or email address *</label>
                            @Html.TextBoxFor(a => a.Email)
                        </div>
                        <div class="group-input">
                            <label for="pass">Password *</label>
                            @Html.PasswordFor(a => a.Password)
                        </div>
                        <div class="group-input">
                            <label for="con-pass">Confirm Password *</label>
                            @Html.PasswordFor(a => a.ConfirmPassword)
                        </div>
                        <button type="submit" class="site-btn register-btn">REGISTER</button>
                    }
                        <div class="switch-login">
                            <a href="/login" class="or-login">Or Login</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Form Section End -->
